.error {
  color: red;
}

body{
  background-image: url(../../assests/gardenBackground.jpg);
  background-size: cover;
  background-position:  1px -22px;
}

.loginPage {


  margin-top: 10%;
  
}


.loginButton{
  color: green;
  outline-color: green;
  background-color: rgb(208, 223, 208);

}
