 .plantPage{
    background-image: url(../../assests/plantPageBackground.jpg);
    background-size: contain;
    background-position:  no-repeat;  
    position:fixed;
    top: 0;   
    left: 0;  
    right: 0;
    bottom: 0;
    min-width: 10%;
    min-height: 10%;
}


.addButton{
    border: 2px solid green;
    color: #FFAE00;
   
    
}

h1.plantGreeting{
    display: flex;
    justify-content: center;
    background-color: #212529;
    
    
    color: #FFAE00;
}


.table-responsive {
    overflow-y: auto;
    height: 500px;
}

tbody {
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 140px;
}