 .plantPage{
    background-image: url(../../assests/plantPageBackground.jpg);
    background-size: contain;
    background-position:  no-repeat;  
    position:fixed;
    top: 0;   
    left: 0;  
    right: 0;
    bottom: 0;
    min-width: 10%;
    min-height: 10%;
}



.addPlantButton{
    background-color: rgba(12, 68, 12, 0.784);
    
}

h1.plantGreeting{
    background-color: #212529;
    
    color: #FFAE00;
}