 .plantPage{
    background-image: url(../../assests/plantPageBackground.jpg);
    background-size: contain;
    background-position:  no-repeat;  
    position:fixed;
    top: 0;   
    left: 0;  
    right: 0;
    bottom: 0;
    min-width: 10%;
    min-height: 10%;
}


.addButton{
    color: green;
    outline-color: green;
   
    
}

h1.plantGreeting{
    display: flex;
    justify-content: center;
    background-color: #212529;
    
    
    color: #FFAE00;
}

.addLabel{
    outline: #ffae00a0 solid 10px;
    background-color: #ffae00a0;
}