.aboutUsPage{
    background-color: black;
    /* background-size: contain;
    background-position:  no-repeat;  
    position:fixed; */
    top: 0;   
    left: 0;  
    right: 0;
    bottom: 0;
    min-width: 10%;
    min-height: 10%;



}

.aboutImage img {
    /* height: auto;
    width: 420px; */
    padding-left: 200px;

}

.aboutUs{

    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.aboutUsInfo {
    width: 550px;
    margin-right: 96px;
    color: white;
}

h4{
    color: #FFAE00;
}